body {
    font-family: "Lato light";
    color: #333;
}

nav {
    font-family: Lato;
    font-size: 24px;
    color: #333;
}

nav li {
  padding: 0 15px;
}

h2 {
  font-family: Amethysta;
  font-size: 22px;
  color: #333;
}

#banner {
    margin-bottom: 50px;
}
#banner img {
    padding: 0;
}

.card {
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card img {
  width: 100%;
}

.monthly-special {
  padding: 1rem 2rem 0 2rem;
  background-color: #eceeef;
}

footer {
  margin-top: 30px;
}

#social img {
  max-width: 30px;
>>>>>>> 16ca21e365ed13434d262f37c53f8e20353eb53f
}

.panel-profile-img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
